{{ template "layout" }}

{{ define "title" }}Auth Server | Register{{ end }}

{{ define "content" }}
	<main>
		<h1>Register new Oauth Application</h1>
		{{ if .Errors }}
			{{ if index .Errors "form" }}
				<p>{{ index .Errors "form" }}</p>
			{{ end }}
		{{ end }}
		<form action="{{ index .Routes "apps/register" }}" method="post">
			<input type="hidden" name="csrf_token" value="{{ .CsrfToken }}">
			<label>
				Name: 
				<input type="text" name="name" required value="{{ .FormData.Name }}">
			</label>
			{{ if .Errors }}
				{{ if index .Errors "name" }}
					<p>{{ index .Errors "name" }}</p>
				{{ end }}
			{{ end }}
			<label>
				Application Type: 
				<select name="type" required>
				<option value="server-side" {{ if (eq .FormData.Type "server-side") }}selected{{end}}>Server Side</option>
					<option value="client-side" {{ if (eq .FormData.Type "client-side") }}selected{{end}}>Client Side</option>
					<option value="native" {{ if (eq .FormData.Type "native") }}selected{{end}}>Native</option>
				</select>
			</label>
			{{ if .Errors }}
				{{ if index .Errors "type" }}
					<p>{{ index .Errors "type" }}</p>
				{{ end }}
			{{ end }}
			<label>
				Redirect URI: 
			<input type="text" name="redirect_uri" required value="{{ .FormData.RedirectURI }}">
			</label>
			{{ if .Errors }}
				{{ if index .Errors "redirect_uri" }}
					<p>{{ index .Errors "redirect_uri" }}</p>
				{{ end }}
			{{ end }}
			<button type="submit">Register</button>
		</form>
		
		{{ if .Result }}
			<hr/>
			<p>Application registered successfully</p>
			<p>Client ID: {{ .Result.ClientID }}</p>
			{{ if .Result.ClientSecret }}
				<p>Client Secret: {{ .Result.ClientSecret }}</p>
			{{ end }}
			<p>Redirect URI: {{ .Result.RedirectURI }}</p>
			<p>Application Type: {{ .Result.Type }}</p>
			<p>Name: {{ .Result.Name }}</p>
		{{ end }}
	</main>
{{ end }}
